/*********************************************************************************

	Template Name: Template Full Name Here
	Description: A perfect template to build beautiful and unique medical websites. It comes with nice and clean design.
	Version: 1.0

	Note: This is custom css.

**********************************************************************************/

#myVideo {
	width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.borde {
	border: 1px solid #03a8f3;
}

.seguros-video-home h3 {	
	font-family: "Montserrat", sans-serif;
	color: #c10230;
	/*color: #0a2240;
	color: #c10230;
	color: #382f2d;*/
	text-shadow: 2px 2px #382f2d;
}

.container-somos-derecha {
	padding-right: 30px;
}
.container-somos-derecha p{
	font-family: "Monserrat", sans-serif;
}
.container-somos-derecha h2{
	font-family: "Anton", sans-serif;
}
@media only screen and (max-width: 767px) {
	.container-somos-derecha {
		padding-right: 0px;
	}
  }

.container-somos {
	padding-top: 90px;
	padding-bottom: 90px;

}

.container-somos h2{
	color: #fff;
}

.container-somos p{
	color: #fff;
}

.roundbox-icon-oland {
	height: 100px;
	width: 100px;
	text-align: center;
	background: #fff;
	border-radius: 100px;
	display: inline-block;
	color: #000;
	font-size: 34px;
	justify-content: center;
	padding: 20px 0;
	display: flex;
	align-items: center;
  }

  @media only screen and (max-width: 991px) {
	.roundbox-icon-oland {
	  height: 140px;
	  width: 140px;
	  line-height: 65px;
	  font-size: 26px;
	}
  }

  .bg-uniba {
	background-image: url(../images/city_skyline_1900.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
  }
  @media only screen and (max-width: 767px) {
	.bg-uniba {
		background-image: unset;
		background-color: #fff;
	}
  }

  .contenedor-secciones-uniba {
	padding-top: 30px;
	padding-bottom: 170px;
  }
  @media only screen and (max-width: 767px) {
	.contenedor-secciones-uniba {
		padding-top: 0px;
		padding-bottom: 10px;
	  }
  }

  .seccion-uniba {
	margin-top: 100px;
  }
  @media only screen and (max-width: 991px) {
	.seccion-uniba {
		margin-top: 15px;
	  }
  }

  .texto-uniba-derecha {
	/*color: #03a8f3; */
	color: #0a2240; 
	font-family: "Anton", sans-serif;
	font-weight: 100;
	text-align: justify;
	padding-top: 50px;
  }

  .mt-100 {
	margin-top: 100px;
  }

  .logo-oland {
	height: 60px;
	width: auto;
  }

  .logo-s123 {
	height: 75px;
	width: auto;
  }

  .logo-click {
	height: 40px;
	width: auto;
  }

  .logo-uniba {
	height: 35px;
	width: auto;
  }

  .fuente-anton {
	font-family: "Anton", sans-serif;
	font-weight: normal;
  }

  .fuente-monserrat {
	font-family: "Monserrat", sans-serif;
  }

  @media only screen and (max-width: 991px) {
	.logo-oland {
		height: 70px;
		width: auto;
	  }
	
	  .logo-s123 {
		height: 85px;
		width: auto;
	  }
	
	  .logo-click {
		height: 50px;
		width: auto;
	  }
	
	  .logo-uniba {
		height: 45px;
		width: auto;
	  }
  }