/**
 * Service
 */

.in-service {
    background: #ffffff;
    box-shadow: 0 0 12px rgba(#888888, 0.1);
    padding: 30px 15px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    transition: all 0.4s ease-in-out 0s;

    &-icon {
        font-size: 56px;
        line-height: 1;
        color: #3489ca;
        margin-bottom: 20px;
        display: inline-block;
        transition: all 0.4s ease-in-out 0s;
    }

    h5 {
        font-size: 18px;
        font-weight: 700;

        a {
            color: $heading-color;
            transition: all 0.4s ease-in-out 0s;
        }
    }

    p {
        margin-bottom: 0;
        font-size: 14px;
        transition: all 0.4s ease-in-out 0s;
    }

    &-transparenticon {
        position: absolute;
        left: auto;
        right: -10px;
        top: auto;
        bottom: -10px;
        font-size: 90px;
        line-height: 1;
        color: rgba(#ffffff, 0.1);
        opacity: 0;
        transition: all 0.4s ease-in-out 0s;
    }

    &:hover {
        background: #3489ca;
    }

    &:hover &-icon,
    &:hover h5,
    &:hover h5 a,
    &:hover p {
        color: #ffffff;
    }

    &:hover &-transparenticon {
        opacity: 1;
    }

    &:hover h5 a{
        &:hover{
            color: $secondary-color;
        }
    }
}


/* Service Style 2 */
.in-service-2 {
    &-image {
        position: relative;
        border-radius: 5px;
        overflow: hidden;

        a {
            display: block;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background: rgba(#000, 0.7);
                visibility: hidden;
                opacity: 0;
                transition: all 0.4s ease-in-out 0s;
            }
        }

        img {
            width: 100%;
        }
    }

    &-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
        font-size: 50px;
        margin-top: 30px;
        visibility: hidden;
        opacity: 0;
        transition: all 0.4s ease-in-out 0s;
    }

    &-content {
        padding-top: 30px;

        h5 {
            a {
                color: $heading-color;

                &:hover {
                    color: $theme-color;
                }
            }
        }

        .in-button {
            margin-top: 15px;
        }
    }

    &:hover &-image {
        a {
            &::before {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &:hover &-icon {
        margin-top: 0;
        visibility: visible;
        opacity: 1;
    }
}




/* Service Details */

.service-details-img {
    position: relative;
}


.service-blockquote {
    padding: 20px 30px;
    margin-bottom: 0;
    background: $theme-color;
    color: #fff;
    font-style: normal;
    overflow: hidden;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    
    & .top-overlay {
        
        &::after {
            background: #0072bc;
            position: absolute;
            content: "";
            left: 0;
            bottom: -8px;
            width: 30px;
            height: 10px;
            transform: rotate(8deg);
        }
        &::before {
            background: #0072bc;
            position: absolute;
            content: "";
            left: -8px;
            bottom: 0;
            width: 10px;
            height: 30px;
            transform: rotate(-8deg);
        }
    }
    
    & .bottom-overlay {
        &::after {
            background: #0072bc;
            position: absolute;
            content: "";
            right: -8px;
            top: -7px;
            width: 30px;
            height: 10px;
            transform: rotate(8deg);
        }
        &::before {
            background: #0072bc;
            position: absolute;
            content: "";
            right: -8px;
            top: 0;
            width: 10px;
            height: 30px;
            transform: rotate(-8deg);
        }
    }
    
    
    & p {
        margin-bottom: 0;
    }
}
.in-service-3 {
    & .feature-icon {
        font-size: 40px;
        margin-bottom: 20px;
        display: block;
    }
    & p {
        margin-bottom: 0;
    }
}



.gradation-title-wrapper {
    display: flex;
    justify-content: space-between;
    @media #{$sm-layout}{
        flex-direction: column;
    }
}
.gradation-sub-heading {
    & .heading {
        position: relative;
        font-size: 13px;
        line-height: 2em;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: inline-block;
        padding: 35px 80px 35px 42px;
        z-index: 1;
        &::before {
            background-color: #086ad8;
            content: '';
            position: absolute;
            top: 47px;
            left: 0;
            width: 34px;
            height: 1px;
        }
        & span {
            position: absolute;
            top: 50%;
            right: 0;
            -webkit-transform: translate(0,-50%);
            -ms-transform: translate(0,-50%);
            transform: translate(0,-50%);
            font-size: 120px;
            line-height: .8;
            font-weight: 900;
            color: #ededed;
            z-index: -1;
        }
        @media #{$sm-layout}{
            margin-top: 30px;
        }
    }
}

.works-prsseage-stap {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
    .item {
        flex-grow: 1;
        position: relative;
        padding: 0 15px;
        & .line {
            width: 100%;
            height: 1px;
            background: #ededed;
            position: absolute;
            top: 24px;
            left: 15px;
        }
        &:last-child {
            & .line {
                display: none;
            }
        }
        .mask {
            opacity: 0;
        }
        &:hover{
            & .mask {
                opacity: 1;
            }

            & .circle { 
                color: #fff;
                background: $theme-color;
            }

        }
    }

    @media #{$md-layout,$sm-layout}{
        display: block;

        .item {
            display: flex;
            align-items: flex-start;
            width: 100%;
            & .line {
                left: 39px;
                height: 100%;
                width: 1px;
                top: 15px;
            }
        }
        .content-wrap {
            padding: 10px 0 50px 30px;
        }
    }


    & .circle-wrap {
        display: inline-block;
        position: relative;
        margin-bottom: 56px;
    }
    .circle {
        position: relative;
        z-index: 1;
        width: 48px;
        height: 48px;
        line-height: 44px;
        text-align: center;
        border: 2px solid #e8e8e8;
        border-radius: 50%;
        font-size: 18px;
        background-color: #fff;
        margin-bottom: 0;
        transition: all 0.3s ease-in-out;
    }
    & .wave-pulse {
        width: 1px;
        height: 0;
        margin: 0 auto;
    }
    & .wave-pulse::before, 
    & .wave-pulse::after {
        opacity: 0;
        content: '';
        display: block;
        position: absolute;
        width: 100px;
        height: 100px;
        top: 50%;
        left: 50%;
        background: #fff;
        border-radius: 50%;
        border: 1px solid #ababab;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        -webkit-animation: gradationMask 3s linear infinite;
        animation: gradationMask 3s linear infinite;
    }
    & .wave-pulse-2::before {
        animation-delay: 1.2s;
    }
    & .wave-pulse-3::before {
        animation-delay: 2.4s;
    }

    & .heading {
        font-weight: 600;
    }
    .text {
        margin-top: 17px;
    }
    .gradation-btn {
        font-weight: 600;
        margin-top: 15px;
        font-size: 14px;
        color: $theme-color;
        display: block;
        &:hover {
            color: #333;
        }
    }
}
@-webkit-keyframes gradationMask {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
        opacity: 1
    }

    90% {
        opacity: 1
    }

    100% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
        border-color: transparent
    }
}

@keyframes gradationMask {
    0% {
        -webkit-transform: translate(-50%, -50%) scale(0);
        transform: translate(-50%, -50%) scale(0);
        opacity: 1
    }

    90% {
        opacity: 1
    }

    100% {
        -webkit-transform: translate(-50%, -50%) scale(1);
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
        border-color: transparent
    }
}

.hero-inner-insurance-seleator-wrapper {
    margin-top: -90px;
    @media #{$sm-layout}{
        margin-top: 0;
        padding-top: 60px;
    }
}

.insurencebox-seleactor-box {
    position: relative;
    background: #fff;
    border-radius: 5px;
    padding: 50px 20px 60px;
    box-shadow: 0 0 40px 5px rgba(51, 51, 51, 0.1);
    & .insurencebox-form select, .insurencebox-form input, .insurencebox-form .nice-select {
        border-radius: 5px;
    }
}

.seleactor-button {
    padding: 9px 5px;
    background: #03a8f3;
    border-radius: 5px;
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #fff !important;
    &:hover {
        background: $secondary-color;
    }
}

.sevice-slider-active {
    
    .slick-dots {
        bottom: -50px;
    }
    .slick-dots li {
        width: 10px;
        height: 10px;

    }
    .slick-dots li button {
        font-size: 0;
        width: 10px;
        height: 10px;
        background: $theme-color;
        border-radius: 50px;
    }
    .slick-dots li.slick-active button {
        background: $secondary-color;
    }
    .slick-dots li button::before {
        font-size: 0px
    }

}







