/**
 * Typography
 */

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

html {
	overflow: hidden;
	overflow-y: auto;
}

body {
	overflow: hidden;
	font-size: $body-font-size;
	line-height: $body-line-height;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: $body-font;
	color: $body-color;
	font-weight: 400;
    @include placeholder-color($body-color);
}

.container {
	max-width: 1200px;
}

a {
	transition: all 0.4s ease-in-out 0s;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
address,
p,
pre,
blockquote,
dl,
dd,
menu,
ol,
ul,
table,
caption,
hr {
	margin: 0;
	margin-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: $heading-font;
	line-height: 1.3;
	color: $heading-color;
}

h1,
.h1 {
	font-size: $h1;
}

h2,
.h2 {
	font-size: $h2;
}

h3,
.h3 {
	font-size: $h3;
}

h4,
.h4 {
	font-size: $h4;
}

h5,
.h5 {
	font-size: $h5;
}

h6,
.h6 {
	font-size: $h6;
}

@media #{$md-layout} {

	h1,
	.h1 {
		font-size: 44px;
	}

	h2,
	.h2 {
		font-size: 36px;
	}

	h3,
	.h3 {
		font-size: 24px;
	}
}

@media #{$sm-layout} {

	h1,
	.h1 {
		font-size: 40px;
	}

	h2,
	.h2 {
		font-size: 32px;
	}

	h3,
	.h3 {
		font-size: 22px;
	}
	h4,
	.h4{
		font-size: 20px;
	}
}

@media #{$xs-layout} {

	h1,
	.h1 {
		font-size: 36px;
	}
	h2,
	.h2{
		font-size: 25px;
	}
    h3,
	.h3 {
		font-size: 18px;
	}
	h4,
	.h4{
		font-size: 16px;
	}
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
	font-weight: 700;
}

h4,
.h4,
h5,
.h5 {
	font-weight: 600;
}

h6,
.h6 {
	font-weight: 500;
}

a:hover,
a:focus,
a:active {
	text-decoration: none;
	outline: none;
}

a:visited {
	color: inherit;
}

input,
button,
select,
textarea {
	background: transparent;
	border: 1px solid $border-color;
	transition: all 0.4s ease-out 0s;
	color: $body-color;
	@include placeholder-color($body-color);
	font-family: $body-font;

	&:focus,
	&:active {
		outline: none;
		border-color: $theme-color;
	}
}

input,
select,
textarea {
	width: 100%;
	font-size: 14px;
}

input,
select {
	height: 45px;
	padding: 0 15px;
}

.ul-style-1 {
	padding-left: 0;

	li {
		list-style: none;
		padding-left: 40px;
		position: relative;

		&::before {
			content: "\f267";
			font-family: 'Material-Design-Iconic-Font';
			font-size: 20px;
			color: $theme-color;
			position: absolute;
			left: 3px;
			top: 0;
		}
	}
}
.ul-style-2 {
	padding-left: 0;
    margin-top: 25px;
    margin-bottom: 0;
	li {
		list-style: none;
		padding-left: 40px;
		position: relative;
        color: $theme-color;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }

		&::before {
			content: "\f267";
			font-family: 'Material-Design-Iconic-Font';
			font-size: 20px;
			color: $theme-color;
			position: absolute;
			left: 3px;
			top: 0;
		}
	}
}
.slick-slide {
	margin: 0 15px;
}
.slick-list {
	margin: 0 -15px;
}